DATABASE_URL=""
ENCRYPTION_KEY=""
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"
OWNER_EMAIL=""
OWNER_WHATSAPP=""
RESEND_API_KEY=""
HCAPTCHA_SECRET=""
HCAPTCHA_SITE_KEY=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
